html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
    padding: 2%;
    margin: 3%;
    text-align:center;
    max-width: 80%;
    margin: auto;
    background-color:beige;
    
}
h1{
    color: brown;
    text-transform: uppercase;
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    margin-top: 10%;
    
    
}

li{
    font-size: 1.3em;
    width: 30%;
    margin: auto;
}